<div [style.height]="this.screenHeight + 'px'" class="d-flex align-items-center" *ngIf="this.model">
  <mat-card class="m-auto" style="min-width: 450px">
    <mat-card-header>
      <mat-card-title>{{this.model.name}}</mat-card-title>
      <mat-card-subtitle>{{this.model.username}}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="this.model.hasPoster()" mat-card-image src="{{this.model.getPoster()}}" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p *ngIf="this.model.hasMovie()">{{this.model.movie.Title}}</p>
      <div class="w-100">
        <div class="d-flex justify-content-between">
          <span>Location</span>
          <span>{{this.model.getCountry()}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <span>Post Code</span>
          <span>{{this.model.postCode}}</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
